PORT=
MONGODB_URI=
JWT_SECRET=

CLIENT_URLS=http://localhost:5173,https://reel-ops.vercel.app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_PASS=

GROQ_API_KEY=
TOKEN_ENCRYPTION_KEY=

# Automation Worker Config
WORKER_ID=reelops-worker-1
DEFAULT_YOUTUBE_PRIVACY=private
